.container {
  margin: 20px;
}
h1 {
  text-align: center;
}
.votes {
  float: left;
  width: 100px;
}
.question_body {
  margin-left: 100px;
  margin-bottom: 50px
}
.answers {
  margin-top: 50px;
}
.answer_body {
  margin-left: 100px
}
.arrow_up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}
.arrow_down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}
